.desktop .job {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .overlap-group-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1024px;
    width: 1440px;
}

.desktop .overlap-group {
    background-color: #a5d4ff;
    height: 53px;
    position: relative;
    top: 971px;
}

.desktop .text-wrapper {
    color: #000000;
    font-family: "Iceland-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 1297px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    white-space: nowrap;
}

.desktop .text-wrapper {
    color: #000000;
    font-family: "Iceland-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 1220px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    white-space: nowrap;
}
